* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
}

.nav,
.table-container,
.chart-container,
.calculator-container {
  text-align: center;
  margin: 10px;
}

#index-result {
  margin: 50px;
  text-shadow: 2px 2px 4px grey;
}

.tabs-container {
  position: relative;
  width: 100%;
}

button {
  padding: 20px;
  transition: 0.5s;
  box-shadow: 2px 2px 5px black;
}

canvas {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.history-container {
  border-radius: 5px 0 0 5px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  padding: 10px 20px;
  right: 0;
}

i {
  color: white;
  text-shadow: 10px 10px 10px black;
}

#input-data {
  background-color: rgba(0, 0, 255, 0.2);
}

#table-heading {
  background-color: rgba(0, 0, 255, 0.6);
}

.alert {
  display: none;
}
