* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
}

.nav,
.table-container,
.chart-container,
.calculator-container {
  text-align: center;
  margin: 10px;
}

#index-result {
  margin: 50px;
  text-shadow: 2px 2px 4px grey;
}

#accordionFlushExample {
  margin-top: 2rem;
}

button {
  padding: 20px;
  transition: 0.5s;
  box-shadow: 2px 2px 5px black;
}

canvas {
  max-width: 70%;
  margin: 2rem auto;
}

#calc-button {
  margin-left: 50%;
  transform: translate(-50%);
}

i {
  padding-right: 0.5rem;
}

.input-group {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#input-data {
  background-color: rgba(0, 0, 255, 0.2);
}

#table-heading {
  background-color: rgba(0, 0, 255, 0.6);
}

@media screen and (max-width: 900px) {
  canvas {
    max-width: 100%;
  }
}
