* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

h1 {
  font-family: "Roboto", sans-serif;
}

.nav,
.table-container,
.chart-container,
.calculator-container {
  text-align: center;
  margin: 10px;
}

#index-result {
  margin: 50px;
  text-shadow: 2px 2px 4px grey;
}

#accordionFlushExample {
  margin-top: 2rem;
}

button {
  padding: 20px;
  transition: 0.5s;
  box-shadow: 2px 2px 5px black;
}

canvas {
  max-width: 70%;
  margin: 2rem auto;
}

#calc-button {
  margin-left: 50%;
  transform: translate(-50%);
}

.input-group {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.dark-blue {
  background-color: rgba(0, 0, 255, 0);
}

.deep-sky-blue {
  background-color: rgba(0, 191, 255, 0.3);
}

.cyan {
  background-color: rgba(0, 255, 255, 0.3);
}

.light-green {
  background-color: rgba(128, 255, 0, 0.3);
}

.yellow {
  background-color: rgba(255, 255, 0, 0.6);
}

.orange {
  background-color: rgba(255, 166, 0, 0.6);
}

.red {
  background-color: rgba(255, 0, 0, 0.7);
}

#input-data {
  background-color: rgba(0, 0, 255, 0.2);
}

#table-heading {
  background-color: rgba(0, 0, 255, 0.6);
}

@media screen and (max-width: 900px) {
  canvas {
    max-width: 100%;
  }
}

@media screen and (min-width: 900px) {
  p {
    display: inline;
  }
}

.tab-content {
  width: 100%;
  overflow-x: auto;
}

.table-container {
  min-width: 700px;
}
